.aboutArticle {
    background: $secondaryColour1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.aboutArticle:after {
    content: '';
    width: 50%;
    height: 50%;
    background: $baseColour;
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 0;
}

.aboutArticle:before {
    content: '';
    width: 50%;
    height: 50%;
    background: $secondaryColour2;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
}

.about {
    min-height: 65vh;
    border: 7px solid #abdadc;
    width: 95vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 35px 0;
    background: $secondaryColour1;
    z-index: 1;
    h2 {
        text-transform: uppercase;
        text-shadow: 2px 2px 0 $accentColour;
        margin: 1.5rem 0 1rem 0;
    }
    a {
        margin: 1% 0 3% 5%;
    }
}

.aboutContent {
    display: flex;
}

.aboutImage1 {
    border: 4px solid $baseColour;
}

.aboutImage2 {
    border: 4px solid $baseColour;
    display: none;
}

.aboutText p {
    margin-bottom: 10px;
    padding-left: 5%;
}

// ABOUT MEDIA QUERIES

@media (max-width: 900px) {

    .aboutContent {
        flex-direction: column;
        align-items: center;
    }

    .aboutImage {
        margin: 0 0 5% 0;
        width: 220px;
    }

    .aboutImage1 {
        display: none;
    }

    .aboutImage2 {
        display: block;
    }
}