.aboutArticle {
    background:#f2f8ee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    min-height: 75vh;
    border: 7px solid #abdadc;
    width: 90vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 35px 0;
    h2 {
        text-transform: uppercase;
        text-shadow: 2px 2px 0 $accentColour;
        margin: 1.5rem 0;
    }
    .button {
        margin-bottom: 5%;
    }
}

.aboutContent {
    display: flex;
    margin-bottom: 5%;
    align-items: center;
}

.aboutImage {
    width: calc(40% - 15px);
    margin-right: 15px;
    img {
        border-radius: 50%;
        border: 4px solid $baseColour;
        box-shadow: 3px 3px 10px #999;
    }
}

.aboutText {
    width: calc(60% - 15px);
    margin-left: 15px;
}