main {
    min-height: 100vh;
    background-image: linear-gradient(to right, $secondaryColour1 0%, $secondaryColour1 50%, $baseColour 50%, $baseColour 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio {
    border: 7px solid $secondaryColour2;
    width: 95vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 35px 0;
    h2 {
        margin: 1.5rem 0 0 1.3rem;
        text-transform: uppercase;
        text-shadow: 2px 2px 0 $accentColour;
    }
}

.portfolioContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: transparentize($secondaryColour1, .1);
    border: 5px solid $accentColour;
    margin: 5% 0;
    padding: 5% 2%;
}

.portfolioItem {
    width: 48%;
    display: flex;
    align-items: center;
}

.portfolioImage {
    position: relative;
    width: 100%;
    padding: 1%;
}

.portfolioImage.darkBorder {
    border: 5px solid $baseColour;  
}

.portfolioImage.lightBorder {
    border: 5px solid $baseColour; // changes
}

.portfolioDescription {
    background: $secondaryColour1;
    position: relative;
    width: 100%;
    border: 5px solid $baseColour; //changed 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h3 {
        margin: 0;
        text-align: center;
    }
    p { 
        margin: 5% 0;
        text-align: center;
    }
    .button {
        margin-top: 5%;
    }
}

// .descriptionOne::after {
//     @include circle('01');
//     left: -10px;
// }

// .descriptionTwo::after {
//    @include circle('02');
//    left: -20px;
// }

// .descriptionThree::after {
//     @include circle('03');
//     left: -20px;
// }

.portfolioIcons {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    i {
        font-size: 1.2rem;
        margin: 5px 15px;
        transition: all .2s ease-out;
        &:hover {
            transform: scale(1.15);
            color: $accentColour;
        }
    }
}

.portfolioButtons {
    display: flex;
    justify-content: center;
    .button {
        max-width: 50%;
        &:nth-of-type(2) {
            border-color: $baseColour;
            color: $secondaryColour2;
            margin-left: 10%;
            &:hover {
                color: $secondaryColour1;
            }
        }
        &:nth-of-type(2):before {
            background: $baseColour;
        }
    }
}

// PORTFOLIO MEDIA QUERIES

@media (max-width: 1000px) {
    .portfolioContainer {
        flex-direction: column;
    }

    .portfolioItem {
        width: 90%;
        margin: 5% 0;
    }

    .portfolioDescription {
        border-color: $baseColour;
    }

    .portfolioImage.darkBorder {
        border-color: $accentColour;
    }

    .descriptionOne::after,
    .descriptionTwo::after,
    .descriptionThree::after {
        left: 42%;
    }
}

@media (max-width: 600px) {
    .descriptionOne::after,
    .descriptionTwo::after,
    .descriptionThree::after {
        left: 38%;
    }
}

@media (max-width: 500px) {
    .descriptionOne::after,
    .descriptionTwo::after,
    .descriptionThree::after {
        left: 40%;
    }
}