main {
    min-height: 100vh;
    background-image: linear-gradient(to right, $secondaryColour1 0%, $secondaryColour1 50%, $baseColour 50%, $baseColour 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio {
    border: 7px solid $secondaryColour2;
    width: 95vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 35px 0;
    h2 {
        margin: 1.5rem 0 1.5rem 1.3rem;
        text-transform: uppercase;
        text-shadow: 2px 2px 0 $accentColour;
    }
    h3 {
        margin: 0;
        padding: 7px 10px 5px 10px;
        border: 3px solid $baseColour;
        background: $secondaryColour2;
        color: $secondaryColour1;
        text-transform: uppercase;
        z-index: 1;
    }
}

.portfolioContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: transparentize($secondaryColour1, .1);
    border: 5px solid $baseColour;
    margin-bottom: 5%;
    margin-top: -20px;
    padding: 5% 2%;
    position: relative;
}

.portfolioItem {
    width: 48%;
    display: flex;
    align-items: center;
}

.portfolioImage {
    position: relative;
    width: 100%;
    padding: 1%;
    border: 5px solid $accentColour;
}

.portfolioDescription {
    background: $secondaryColour1;
    width: 100%;
    border: 5px solid $accentColour;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h3 {
        margin: 0;
        text-align: center;
    }
    p { 
        margin-bottom: 5%;
        text-align: center;
    }
    .button {
        margin-top: 5%;
    }
}

.portfolioIcons {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    i {
        font-size: 1.2rem;
        margin: 5px 15px;
        transition: all .2s ease-out;
        &:hover {
            transform: scale(1.15);
        }
    }
    .firebase {
        width: 25px;
        margin: 5px 10px;
        fill: $baseColour;
        transform: scale(.9);
        transition: all .2s ease-out;
        &:hover {
            transform: scale(1.05);
        }
    }
}

.portfolioButtons {
    display: flex;
    justify-content: center;
    .button {
        max-width: 50%;
        &:nth-of-type(2) {
            border-color: $baseColour;
            color: $secondaryColour2;
            margin-left: 10%;
            &:hover {
                color: $secondaryColour1;
            }
        }
        &:nth-of-type(2):before {
            background: $baseColour;
        }
    }
}

// PORTFOLIO MEDIA QUERIES

@media (max-width: 1000px) {
    .portfolioContainer {
        flex-direction: column;
    }

    .portfolioItem {
        width: 90%;
        margin: 5px 0;
    }

    .flexOrder {
        order: -1;
    }
}

@media (max-width: 500px) {

    .portfolioIcons i {
        margin: 5px 8px;
    }
    
    .portfolioIcons .firebase {
        margin: 5px 3px;
    } 
}

