main {
    min-height: 100vh;
    background-image: linear-gradient(to right, #f2f8ee 0%, #f2f8ee 50%, #1c3557 50%, #1c3557 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio {
    border: 7px solid #e63947;
    width: 90vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 35px 0;
    h2 {
        margin: 1.5rem 0 0 1.3rem;
        text-transform: uppercase;
        text-shadow: 2px 2px 0 $accentColour;
    }
}

.portfolioContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.portfolioItem {
    height: 75vh;
    width: 43%;
    display: flex;
    align-items: center;
}

.portfolioImage {
    background: $secondaryColour2;
    position: relative;
    width: 100%;
    height: 70%;
    border-radius: 10px;
    object {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }
}

.portfolioImage1 object {
    border: 5px solid $baseColour;
    border-radius: 10px;
}

.portfolioImage2 object {
    border: 5px solid $secondaryColour2;
    border-radius: 10px;
}

.portfolioDescription {
    background: #f2f8ee;
    position: relative;
    width: 100%;
    height: 70%;
    border: 5px solid #abdadc;
    border-radius: 10px;
    padding: 20px;
}

.descriptionTwo {
    text-align: right;
}

// mixin for the stylistic description circle
@mixin descriptionCircle($content) {
    content: $content;
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: -50px;
    background: #abdadc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.descriptionOne::after {
    @include descriptionCircle('01');
    left: -43px;
}

.descriptionTwo::after {
   @include descriptionCircle('02');
   right: -43px;
}

.descriptionThree::after {
    @include descriptionCircle('03');
    left: -43px;
}

.portfolioIcons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    i {
        font-size: 1.5rem;
        margin: 15px 5px;
    }
}