article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skipLink:focus {
  left: 0;
}

html {
  font-size: 125%;
  overflow-x: hidden;
}

body {
  font-size: 1rem;
  color: #1c3557;
  letter-spacing: 0.07rem;
}

@media (max-width: 600px) {
  body {
    font-size: .8rem;
  }
}

.wrapper {
  max-width: 1200px;
  padding: 0 5%;
  margin: 0 auto;
}

h1, h2, p, section, ul, li {
  margin: 0;
  padding: 0;
}

h2 {
  letter-spacing: .4rem;
  font-size: 2.2rem;
}

@media (max-width: 600px) {
  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 440px) {
  h2 {
    font-size: 1.6rem;
  }
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.4;
}

.whiteText {
  color: #f2f8ee;
}

.button {
  display: inline-block;
  text-decoration: none;
  font-size: .8rem;
  border: 2px solid #e63947;
  padding: 10px 8px 8px 8px;
  margin: 5px;
  position: relative;
  color: #1c3557;
  text-align: center;
  z-index: 0;
  width: auto;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  text-transform: uppercase;
  font-weight: bold;
}

.button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: -1px;
  bottom: 0;
  background: #e63947;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.button:hover {
  color: #f2f8ee;
}

.button:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

header {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#e63947), color-stop(50%, #e63947), color-stop(50%, #f2f8ee), to(#f2f8ee));
  background-image: linear-gradient(to right, #e63947 0%, #e63947 50%, #f2f8ee 50%, #f2f8ee 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing {
  border: 7px solid #1c3557;
  width: 90vw;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-top: 1rem;
}

.landing h1 {
  font-size: 5rem;
  letter-spacing: 1rem;
  margin: 0 0 0 1rem;
  text-transform: uppercase;
  text-shadow: 4px 4px 0 #abdadc;
}

.landing h2 {
  margin: 0 0 1.4rem .7rem;
  text-transform: uppercase;
}

.landing .socials {
  position: absolute;
  right: 30px;
  top: 25%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing .socials a {
  display: inline-block;
  margin: 50% 0;
}

.landing .socials a i {
  font-size: 1.2rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.landing .socials a i:hover, .landing .socials a i:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #e63947;
}

.landingTextBorder {
  border: 5px solid #1c3557;
  background: transparent;
  margin-top: 10px;
  position: relative;
  width: 60%;
  padding: 1%;
}

.landingTextBorder:after {
  content: "";
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: -50px;
  background: #abdadc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  left: -32px;
  top: -40px;
}

@media (max-width: 650px) {
  .landingTextBorder:after {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 500px) {
  .landingTextBorder:after {
    height: 60px;
    width: 60px;
    top: -30px;
  }
}

.landingTextBox {
  background: #f2f8ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  width: 100%;
  padding: 2% 5% 2% 5%;
  border: 5px solid #abdadc;
  text-align: center;
}

.landingTextBox p {
  margin: 10px 0;
}

.landingTextBox a {
  display: none;
}

.typed-cursor {
  display: none;
}

nav {
  width: 100%;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -100px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.headerNav a {
  display: inline-block;
  margin-left: 40px;
  padding: 5px 0;
}

.headerNav a:hover {
  color: #abdadc;
}

.headerNav.active {
  top: 0px;
}

.hamburger {
  height: 40px;
  width: 40px;
  cursor: pointer;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.line1,
.line2,
.line3 {
  background: #1c3557;
  height: 5px;
  width: 40px;
  position: relative;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.line2 {
  margin: 7px 0;
}

/* ACTIVE */
.line1.active {
  background: #1c3557;
  height: 5px;
  width: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10%;
          transform-origin: 10%;
  top: 4%;
}

.line2.active {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.line3.active {
  background: #1c3557;
  height: 5px;
  width: 40px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10%;
          transform-origin: 10%;
}

@media (max-width: 790px) {
  .landing .socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    right: 45%;
    top: 90%;
  }
  .landing .socials a {
    margin: 2% 5%;
  }
  .landingTextBorder {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .landing h1 {
    font-size: 4.7rem;
  }
}

@media (max-width: 440px) {
  .landing {
    width: 95vw;
  }
  .landing h1 {
    font-size: 3.7rem;
  }
  .landing .socials {
    right: 42%;
  }
  .headerNav a {
    margin-left: 30px;
  }
}

@media (max-width: 380px) {
  .headerNav a {
    margin-left: 12px;
  }
}

.aboutArticle {
  background: #f2f8ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.aboutArticle:after {
  content: '';
  width: 50%;
  height: 50%;
  background: #1c3557;
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
}

.aboutArticle:before {
  content: '';
  width: 50%;
  height: 50%;
  background: #e63947;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}

.about {
  min-height: 65vh;
  border: 7px solid #abdadc;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 35px 0;
  background: #f2f8ee;
  z-index: 1;
}

.about h2 {
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #abdadc;
  margin: 1.5rem 0;
}

.about .button {
  margin: 20px 0;
}

.aboutContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutImage {
  width: calc(40% - 15px);
  margin-right: 15px;
}

.aboutImage img {
  border-radius: 50%;
  border: 4px solid #1c3557;
  -webkit-box-shadow: 3px 3px 10px #999;
          box-shadow: 3px 3px 10px #999;
}

.aboutText {
  width: calc(60% - 15px);
  margin-left: 15px;
}

@media (max-width: 800px) {
  .aboutContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutImage {
    margin: 0 0 3% 0;
    width: 50%;
  }
  .aboutText {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about h2 {
    margin: 1.5rem 0 1rem 0;
  }
}

main {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#f2f8ee), color-stop(50%, #f2f8ee), color-stop(50%, #1c3557), to(#1c3557));
  background-image: linear-gradient(to right, #f2f8ee 0%, #f2f8ee 50%, #1c3557 50%, #1c3557 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio {
  border: 7px solid #e63947;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 35px 0;
}

.portfolio h2 {
  margin: 1.5rem 0 0 1.3rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #abdadc;
}

.portfolioContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolioItem {
  height: 75vh;
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolioImage {
  background: #e63947;
  position: relative;
  width: 100%;
  height: 80%;
  border-radius: 10px;
}

.portfolioImage object {
  width: 100%;
  max-width: 100%;
  height: 100%;
  border: 5px solid #1c3557;
  border-radius: 10px;
}

.portfolioDescription {
  background: #f2f8ee;
  position: relative;
  height: 80%;
  border: 5px solid #abdadc;
  border-radius: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.descriptionOne::after {
  content: "01";
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: -50px;
  background: #abdadc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  left: -43px;
}

@media (max-width: 650px) {
  .descriptionOne::after {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 500px) {
  .descriptionOne::after {
    height: 60px;
    width: 60px;
    top: -30px;
  }
}

.descriptionTwo::after {
  content: "02";
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: -50px;
  background: #abdadc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  left: -43px;
}

@media (max-width: 650px) {
  .descriptionTwo::after {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 500px) {
  .descriptionTwo::after {
    height: 60px;
    width: 60px;
    top: -30px;
  }
}

.descriptionThree::after {
  content: "03";
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: -50px;
  background: #abdadc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  left: -43px;
}

@media (max-width: 650px) {
  .descriptionThree::after {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 500px) {
  .descriptionThree::after {
    height: 60px;
    width: 60px;
    top: -30px;
  }
}

.portfolioIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolioIcons i {
  font-size: 1.5rem;
  margin: 5px 15px;
}

.portfolioButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.portfolioButtons .button {
  max-width: 50%;
}

.portfolioButtons .button:nth-of-type(2) {
  border-color: #1c3557;
  color: #e63947;
}

.portfolioButtons .button:nth-of-type(2):hover {
  color: #f2f8ee;
}

.portfolioButtons .button:nth-of-type(2):before {
  background: #1c3557;
}

@media (max-width: 900px) {
  .portfolioContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolioItem {
    width: 90%;
  }
  .portfolioDescription {
    text-align: center;
  }
  .descriptionOne::after,
  .descriptionTwo::after,
  .descriptionThree::after {
    left: 250px;
  }
}

.contactArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#e63947), color-stop(50%, #e63947), color-stop(50%, #f2f8ee), to(#f2f8ee));
  background-image: linear-gradient(to right, #e63947 0%, #e63947 50%, #f2f8ee 50%, #f2f8ee 100%);
}

.contact {
  min-height: 75vh;
  border: 7px solid #1c3557;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 35px 0;
  position: relative;
}

.contact h2 {
  margin: 1.5rem 0 0 1.5rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #abdadc;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact form label {
  margin-top: 20px;
  margin-bottom: 5px;
  width: 75%;
  max-width: 350px;
  min-width: 200px;
  color: #f2f8ee;
}

.contact form label:nth-of-type(3) {
  width: 75%;
  max-width: 450px;
  min-width: 250px;
}

.contact form input:not([type='submit']) {
  width: 75%;
  max-width: 350px;
  min-width: 200px;
  padding: 5px;
  border: none;
  border-bottom: 3px solid #1c3557;
  background: rgba(255, 255, 255, 0.5);
  color: #1c3557;
}

.contact form input:not([type='submit']):focus {
  background: #abdadc;
}

.contact form input[type='submit'] {
  display: inline-block;
  text-decoration: none;
  font-size: .8rem;
  border: 2px solid #1c3557;
  padding: 8px 2px;
  margin: 5px 5px 20px 5px;
  position: relative;
  color: #1c3557;
  text-align: center;
  z-index: 0;
  width: 180px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  text-transform: uppercase;
  background: #f2f8ee;
}

.contact form input[type='submit']:hover,
.contact form input[type='submit']:focus {
  -webkit-box-shadow: 3px 3px 0 #abdadc;
          box-shadow: 3px 3px 0 #abdadc;
}

.contact form input[type='submit']:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.contact form textarea {
  resize: none;
  width: 75%;
  height: 150px;
  max-width: 450px;
  min-width: 250px;
  padding: 15px;
  border: 3px solid #1c3557;
  background: rgba(255, 255, 255, 0.6);
  margin-bottom: 5px;
  color: #1c3557;
}

.contact form textarea:focus {
  background: #abdadc;
}

.contact .socials {
  position: absolute;
  right: 30px;
  top: 15%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .socials a {
  display: inline-block;
  margin: 50% 0;
}

.contact .socials a i {
  font-size: 1.2rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.contact .socials a i:hover, .contact .socials a i:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #e63947;
}

@media (max-width: 790px) {
  .contact .socials {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact .socials a {
    margin: 30px 10px 20px 10px;
  }
}

@media (max-width: 440px) {
  .contact form textarea,
  .contact form input:not([type="submit"]),
  .contact form input[type="submit"],
  .contact form label,
  .contact form label:nth-of-type(3) {
    width: 100%;
    min-width: 100%;
  }
  .contact h2 {
    margin-left: 1.3rem;
  }
}

footer {
  background: #1c3557;
  text-align: center;
}

footer p {
  color: lightgrey;
  line-height: normal;
  font-size: .8rem;
}

footer i {
  margin: 10px 3px;
  color: #e63947;
}
/*# sourceMappingURL=styles.css.map */